/****************
 * XFCE DESKTOP *
 ****************/

/*
   Contributor notes:
   Please use two space indentions.
   Stack all related and child selectors and selector states into a logical hierarchy to a readable degree.
   Make sure that all changes made here are part of the XFCE desktop.
*/

/* Xfdesktop */
XfdesktopIconView, XfceDesktop.view, XfdesktopIconView.view {
  margin-left: 100px
}
XfdesktopIconView.view {
  -XfdesktopIconView-ellipsize-icon-labels: 0;
  -XfdesktopIconView-cell-text-width-proportion: 2.5;
  -XfdesktopIconView-cell-padding: -1.9;
  -XfdesktopIconView-cell-spacing: -10;
  background: #3d6fa200;
  margin-left: -10px
}
  XfdesktopIconView.view:active {
    background-image: -gtk-gradient(linear, left top, right bottom, from (@selected_bg_color));
    text-shadow: none;
    color: shade(@selected_bg_color, 3.0); }
  XfdesktopIconView.view .label {
    text-shadow: none;
    color: @font_bright; }
  XfdesktopIconView.view .rubberband {
    border: 1px dotted @xfd_rubberband_outline;
    background: rgba(0,0,50.2,0.01); }
XfdesktopIconView:active {
   color: @selected_bg_color;
   background-color: @selected_bg_color; }

/* Hack to give the task bar a pseudo handle
Remove code after this comment to disable the fake handle image.
Since the task bar name changes based on individual panel layout, support
up to 24 different positions. */

#tasklist > box, #tasklist-1 > box, #tasklist-2 > box, #tasklist-3 > box,
#tasklist-4 > box, #tasklist-5 > box, #tasklist-6 > box, #tasklist-7 > box,
#tasklist-8 > box, #tasklist-9 > box, #tasklist-10 > box, #tasklist-11 > box,
#tasklist-12 > box, #tasklist-13 > box, #tasklist-14 > box, #tasklist-15 > box,
#tasklist-16 > box, #tasklist-17 > box, #tasklist-18 > box, #tasklist-19 > box,
#tasklist-20 > box, #tasklist-21 > box, #tasklist-22 > box, #tasklist-23 > box,
#tasklist-24 > box, #tasklist-25 > box {
   border-left: 11px solid;
   border-image: url("../assets/handle.png");
   border-image-slice: 2 2 2 11;
   margin-left: -5px;
   margin-right: -20px;
   padding-right: 20px;
}


#XfceLauncherPlugin {
margin: 90px;
}

#XfcePanelWindow  widget > widget:nth-child(2) box #launcher-arrow image {
   padding-left: 11px;
   padding-right: 2px
}

#XfcePanelWindow  widget > widget:nth-child(3) box #launcher-arrow image {
  padding-left: 11px;
  padding-right: 2px
}

#XfcePanelWindow  widget > widget:nth-child(3) box #launcher-arrow:active image {
  margin-left: -7px;
  margin-right: 0px;
}

#XfcePanelWindow  widget > widget:nth-child(4) box #launcher-arrow image {
  margin-left: -4px;
  margin-right: 0px;
}
#XfcePanelWindow  widget > widget:nth-child(5) box #launcher-arrow image {
  margin-left: -12px;
  margin-right: -3px;
}

#XfcePanelWindow  widget > widget:nth-child(6) box #launcher-arrow image {
  margin-left: -9px;
  margin-right: 7px;
}

widget#launcher-1, widget#launcher-2, widget#launcher-3, widget#launcher-4, widget#launcher-5, widget#launcher-6, widget#launcher-7, widget#launcher-8, widget#launcher-9, widget#launcher-10, widget#launcher-11, widget#launcher-12, widget#launcher-13, widget#launcher-14, widget#launcher-15, widget#launcher-16, widget#launcher-17, widget#launcher-18, widget#launcher-19, widget#launcher-20, widget#launcher-21, widget#launcher-22, widget#launcher-23, widget#launcher-24, widget#launcher-25, widget#launcher-26, widget#launcher-27, widget#launcher-28, widget#launcher-29, widget#launcher-30, widget#launcher-31, widget#launcher-32, widget#launcher-33, widget#launcher-34, widget#launcher-35, widget#launcher-36, widget#launcher-37, widget#launcher-38, widget#launcher-39, widget#launcher-40, widget#launcher-41, widget#launcher-42, widget#launcher-43 {
  margin-left: -9px;
  margin-right: 7px;
}

#xfce4-notification-plugin {
  border: 1px solid #000;
  background-color: #000;
}

#tasklist {
padding: 20px
}

/* Hack to give the first launcher icon a pseudo handle */
#XfcePanelWindow  widget > widget:nth-child(2) box #launcher-arrow {
   border-left: 2px solid;
   border-image: url("../assets/handle-panel2.png");
   background: url("../assets/handle-panel-bg.png");
   background-repeat: no-repeat;
}

/* XFCE Panel Bar */
.xfce4-panel {
    box-shadow: none;
    border: 1px solid @border_dark;
    border-image: url("../buttons/taskbord.png");
    border-image-slice: 1 1 1 1;
    background: url("../assets/tasktex2.png") }

  .xfce4-panel .vertical .tasklist .toggle label {
    margin-top: -7px; }
  .xfce4-panel:not(.vertical) .tasklist .toggle label {
    margin-left: -7px;
    margin-right: 4px; }
  /* Note: The ".xfce4-panel > widget > frame" and ".xfce4-panel .flat:not(.toggle)" CSS classes are specified in this manner due to the volatility in the naming of CSS IDs presented by the XFCE panelbar.*/
  .xfce4-panel > widget > frame, /* affects the frame of the notification area plugin for GTK2 notifications. */
  .xfce4-panel .flat:not(.toggle), /* affects the launcher buttons as well and the status notifier plugin. */
  #sn-button, /* Specifying this class is redundant due to ".xfce4-panel .flat:not(.toggle)" but included for consistency. */
  #xfce4-notification-plugin,
  #showdesktop-button {
    color: @panel_fg_color;
    margin: 0px;
    padding: 0px;
    border: none;
    box-shadow: none;
    background-color: transparent }
    #showdesktop-button:checked {
      border: 2px solid @border_dark;
      border-image: url("../buttons/button_pressed.png");
      border-image-slice: 2 2 2 2;
      background-color: @bg_bright;
      background-image: linear-gradient(45deg, @bg_color 25%, transparent 25%, transparent 75%, @bg_color 75%, @bg_color), linear-gradient(45deg, @bg_color 25%, transparent 25%, transparent 75%, @bg_color 75%, @bg_dark);
      background-size: 2px 2px;
      background-position: 0 0, 1px 1px;}
    #indicator-button:hover,
    #indicator-button:active,
    #indicator-button:checked,
    .xfce4-panel .flat:not(.toggle):hover,
    .xfce4-panel .flat:not(.toggle):active,
    .xfce4-panel .flat:not(.toggle):checked,
    #sn-button:hover,
    #sn-button:active,
    #sn-button:checked,
    #xfce4-notification-plugin:hover,
    #xfce4-notification-plugin:active,
    #xfce4-notification-plugin:checked,
    #pulseaudio-button:hover,
    #pulseaudio-button:active,
    #pulseaudio-button:checked,
    #xfce4-power-manager-plugin:hover,
    #xfce4-power-manager-plugin:active,
    #xfce4-power-manager-plugin:checked {
      border: none;
      box-shadow: none;
      color: @panel_fg_color_bright; /*If you choose to add a background colour, don't forget to uncomment the colour property here so that symbolic icons are properly shaded. You can change the colour propery value to whatever you want. */
      background-color: transparent; }   /* Adding a background colour to the following will highlight panel icons when hovered or checked if desired. */

.xfce4-panel .flat:not(.toggle) {
  color: @panel_fg_color;
  margin: -1px;
  margin-right: -2px
  padding: 0px;
  border: none;
  box-shadow: none;
  width: 1px;
  background-color: transparent }

/* Clock plugin */
#clock-button {
  border: 2px solid transparent;
  border-left: none;
  box-shadow: inset 0px 1px @border_shade, inset -1px -1px @border_bright;
  margin: 0px;
  margin-top: 1px;
  background-color: @bg_color; }
  #clock-button label {
    padding: 11px;
  }
/*  Workspace switcher */
wnck-pager {
  color: white; }
  wnck-pager:selected {
    background-color: @selected_bg_color; }
  wnck-pager:hover {
    background-color: @border_shade;
    color: white; }

/* Panel entry */
/* NOTE! Entry background colouring is bugged in some versions of XFCE. */
.xfce4-panel entry {
  background-color: @base_color;
  margin: 2px;
  box-shadow: none; }
  .xfce4-panel entry selection {
    background-color: transparent;
    color: @text_bright }

/* Plugin buttons */
.xfce4-panel .vertical,
.xfce4-panel .horizontal,
.xfce4-panel .toggle {
  border: none;
  box-shadow: none;
  margin: 0px;
  background-color: transparent; }
/* Tasklist */
.tasklist .toggle {
  /* We remove borders and shadows for the '.tasklist' '.toggle' button
   * directly so that we can apply margins to the inner toggle button
   * box without impacting usability in which the user would otherwise
   * require pointer precision to interact with the tasklist buttons.
   * NOTE OF REGRESSION: By choosing to apply border and shading effects
   * to the inner tasklist toggle button box, this will introduce a
   * regression in the "show flat buttons" feature presented by the XFCE
   * Window Buttons plugin configuration setting.*/
  border: none;
  box-shadow: none;
  margin: 0px;
  background-color: transparent; }
  .tasklist .toggle box {
    transition: 0s font-weight;
    margin: 2px;
    margin-top: 3px;
    border: 2px solid @border_dark;
    border-top: 3px solid @border_dark; /* Checked toggle buttons in Windows95 have a 3px multi-colour border.*/
    border-image: url("../buttons/dialog_button_normal.png");
    border-image-slice: 3 2 2 2;
    box-shadow: none; }
    .tasklist .toggle:active box {
      font-weight: bold;
      border: 2px solid @border_dark;
      border-top: 3px solid @border_dark;
      border-image: url("../buttons/button_pressed.png");
      border-image-slice: 3 2 2 2;
      transition-delay: 1s;
      box-shadow: none; }
    .tasklist .toggle:checked box {
      /*font-family: "NotoSans-Bold";*/
      font-weight: bold;
      border: 2px solid @border_dark;
      border-top: 3px solid @border_dark;
      border-image: url("../buttons/toggle_pressed.png");
      border-image-slice: 3 2 2 2;
      background-color: @scrollbar_trough_bg_color; /* This is how windows themes are applied */
      background-image: linear-gradient(45deg, @bg_color 25%, transparent 25%, transparent 75%, @bg_color 75%, @bg_color), linear-gradient(45deg, @bg_color 25%, transparent 25%, transparent 75%, @bg_color 75%, @bg_dark);
      background-size: 2px 2px;
      background-position: 0 0, 1px 1px;
      box-shadow: none; }

/* XFCE APP: Color Profiles */
.color-profiles {
  padding: 4px }
  .color-profiles .inline-toolbar {
    border: 1px solid transparent;
    box-shadow: none; }

/* XFCE Power Manager plugin */
#xfce4-power-manager-plugin,
#xfce4-power-manager-plugin:active,
#xfce4-power-manager-plugin:hover,
#xfce4-power-manager-plugin:checked {
  box-shadow: inset 1px 4px @border_shade, inset 0px -4px @border_bright, inset 0px 3px @bg_color, inset -0px -3px @bg_color, inset 0px 1px @border_bright;
   margin-top: 0px;
   margin-bottom: -2px;
   margin-right: -9px;
   margin-left: -1px;
   padding-top: 2px;
   border: none;
   border-bottom: 1px solid @bg_color;
   border-left:  solid -1px @bg_color;
}
  #xfce4-power-manager-plugin * {
    -gtk-icon-style: regular;
    -gtk-icon-transform: scale(); }

#systray-1, #systray-1 > box, #systray-2 > box, #systray-3 > box, #systray-4 > box, #systray-5 > box, #systray-6 > box, #systray-7 > box,
#systray-8 > box, #systray-9 > box, #systray-10 > box, #systray-11 > box, #systray-12 > box, #systray-13 > box, #systray-14 >box,
#systray-15 > box, #systray-16 > box, #systray-17 > box, #systray-18 > box, #systray-19 > box, #systray-20 > box, #systray-21 >box {
  box-shadow: inset 0px 4px @border_shade, inset 0px -4px @border_bright, inset 0px 3px @bg_color, inset -0px -3px @bg_color, inset 0px 1px @border_bright;
   margin-top: 0px;
   padding: 0px;
   margin-bottom: -2px;
   border: none;
   border-bottom: 1px solid @bg_color;
   border-left:  solid -1px @bg_color;
}

#sn-button {
  margin-bottom: -1px
}

/* XFCE Notification plugin */
#xfce4-notification-plugin,
#xfce4-notification-plugin:active {
  padding: 2px;
  margin-top: -4px;
  box-shadow: none;
  background-color: transparent;
  border: none;
  border-top: 1px solid; }
  #xfce4-notification-plugin * {
    -gtk-icon-transform: scale(1); }

/* Pulse audio plugin buttons */
.xfce4-panel #pulseaudio-button,
.xfce4-panel #pulseaudio-button:active
  {
    box-shadow: inset 0px 4px @border_shade, inset 0px -4px @border_bright, inset 0px 3px @bg_color, inset -0px -3px @bg_color, inset 0px 1px @border_bright;
     padding-top: 0;
     padding-left: 0px;
     padding-right: -3px;
     border-bottom: 1px solid @bg_color;
     padding-bottom: 0px;
     border-left:  solid -1px @bg_color;
     margin-bottom: -2px
  }
.xfce4-panel #pulseaudio-button * {
  -gtk-icon-transform: scale(1); }

widget#applicationsmenu-2 button box label{
  padding-top: 2px
}

/* XFCE terminal */
#xfce4-terminal-notebook overlay > box,
#xfce4-terminal-notebook stack > box,
#xfce4-terminal-notebook stack scrolledwindow {
  border: 2px solid @border_dark;
  border-image: url("../assets/frame_inset.png");
  border-image-slice: 2 2 2 2;
  margin-top: -3px;
  margin-right: -2px;
  margin: -1px;
  box-shadow: none; }
  .fullscreen #xfce4-terminal-notebook overlay > box,
  .fullscreen #xfce4-terminal-notebook stack > box,
  .fullscreen #xfce4-terminal-notebook stack scrolledwindow,
  .maximized #xfce4-terminal-notebook overlay > box,
  .maximized #xfce4-terminal-notebook stack > box,
  .maximized #xfce4-terminal-notebook stack scrolledwindow {
    border: none;
    border-image: none;
    box-shadow: none; }
#xfce4-terminal-notebook header tabs tab box {
    padding: 0px;
    margin-top: -4px;
    margin-bottom: -4px; }
  #xfce4-terminal-notebook header tabs tab button {
    background: none;
    border: none;
    box-shadow: none; }
  #xfce4-terminal-notebook header tabs tab button image {
      padding: 0px;
      margin-top: -1px;
      margin-bottom: -2px; }

/* XFCE Session logout dialogue */
/* Doesn't look like this works, so moving it to the override... */
.xfsm-logout-dialog {
  border-left: 1px solid @border_bright;
  border-top: 1px solid @border_bright;
  border-bottom: 1px solid @border_dark;
  border-right: 1px solid @border_dark;
  box-shadow: inset -1px -1px @border_shade, inset 1px 1px @border_light; }

  .xfce4-popup-applications-menu {
    background-color: #2e3436;
    color: #d3d7cf;
  }

  .xfce4-popup-applications-menu .menuitem {
    padding: 10px;
    font-size: 14px;
  }

  .xfce4-popup-applications-menu .menuitem:hover {
    background-color: #3c4043;
  }

  /* Custom styles for the application menu button */
  .applicationmenu-button, .applicationmenu, #applicationmenu, #applicationsmenu, #applicationsmenu-2, #WindowMenuPlugin, .WindowMenuPlugin {
    background-color: #2e3436;
    color: #d3d7cf;
    border: none;
    padding: 100px;
  }

  .applicationmenu-button:hover {
    background-color: #3c4043;
  }

  /* Custom styles for the image inside the button */
  .applicationmenu-button image {
    padding: 5px;
  }

  /* Custom styles for the label inside the button */
  .applicationmenu-button label {
    font-size: 14px;
    color: #d3d7cf;
  }

  /* Custom styles for the box inside the button */
  .applicationmenu-button box {
    padding: 5px;
  }

